In [1]:
import pandas
import seaborn
import numpy

import sklearn.impute
import sklearn.preprocessing

%matplotlib inline

# Instructions

- Read training, test, and live data from CSV files
- Then, identify which columns are numerical and which columns are categorical
    - Note that some features that appear numeric might actually be categorical
- Assess whether the data is balance or imbalance

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
495,<0,24.0,existing paid,furniture/equipment,2996.0,no known savings,1<=X<4,2,male mar/wid,none,...,car,20,none,own,1.0,skilled,1,none,yes,bad
296,no checking,12.0,existing paid,used car,4675.0,no known savings,<1,1,female div/dep/mar,none,...,car,20,none,rent,1.0,skilled,1,none,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1.0,skilled,1,none,yes,bad
38,>=200,10.0,existing paid,domestic appliance,1225.0,<100,1<=X<4,2,male single,none,...,car,37,none,own,1.0,skilled,1,yes,yes,good
568,0<=X<200,48.0,existing paid,radio/tv,3979.0,no known savings,4<=X<7,4,male single,none,...,car,41,none,own,2.0,skilled,2,yes,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,no checking,12.0,existing paid,radio/tv,886.0,no known savings,1<=X<4,4,female div/dep/mar,none,...,car,21,none,own,1.0,skilled,1,none,yes,good
192,0<=X<200,27.0,existing paid,business,3915.0,<100,1<=X<4,4,male single,none,...,car,36,none,own,1.0,skilled,2,yes,yes,bad
630,<0,24.0,existing paid,radio/tv,3660.0,<100,1<=X<4,2,female div/dep/mar,none,...,car,28,none,own,1.0,skilled,1,none,yes,good
560,<0,24.0,existing paid,used car,2964.0,no known savings,>=7,4,male single,none,...,no known property,49,bank,for free,1.0,skilled,2,yes,yes,good
685,no checking,60.0,existing paid,new car,6527.0,no known savings,1<=X<4,4,male single,none,...,no known property,34,none,for free,1.0,skilled,2,yes,yes,good

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
271,no checking,12.0,critical/other existing credit,furniture/equipment,1402.0,500<=X<1000,4<=X<7,3,female div/dep/mar,none,...,car,37,none,rent,1.0,skilled,1,yes,yes,good
726,no checking,15.0,critical/other existing credit,radio/tv,1316.0,500<=X<1000,1<=X<4,2,male mar/wid,none,...,life insurance,47,none,own,2.0,unskilled resident,1,none,yes,good
31,<0,24.0,existing paid,furniture/equipment,4020.0,<100,1<=X<4,2,male single,none,...,car,27,stores,own,1.0,skilled,1,none,yes,good
343,0<=X<200,18.0,existing paid,business,4439.0,<100,>=7,1,male single,co applicant,...,real estate,33,bank,own,1.0,high qualif/self emp/mgmt,1,yes,yes,good
605,<0,24.0,all paid,furniture/equipment,2828.0,500<=X<1000,1<=X<4,4,male single,none,...,real estate,22,stores,own,1.0,skilled,1,yes,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,<0,12.0,critical/other existing credit,used car,1526.0,<100,>=7,4,male single,none,...,no known property,66,none,for free,2.0,high qualif/self emp/mgmt,1,none,yes,good
454,<0,24.0,existing paid,new car,4817.0,<100,4<=X<7,2,male single,co applicant,...,life insurance,31,none,own,1.0,skilled,1,yes,yes,bad
468,no checking,33.0,delayed previously,business,2764.0,<100,1<=X<4,2,female div/dep/mar,none,...,car,26,none,own,2.0,skilled,1,yes,yes,good
386,no checking,18.0,existing paid,radio/tv,1126.0,no known savings,<1,4,female div/dep/mar,none,...,real estate,21,none,rent,1.0,skilled,1,yes,yes,good
492,no checking,6.0,critical/other existing credit,radio/tv,1237.0,100<=X<500,1<=X<4,1,female div/dep/mar,none,...,life insurance,27,none,own,2.0,skilled,1,none,yes,good

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
id,,,,,,,,,,,,,,,,,,,,
271,no checking,12.0,critical/other existing credit,furniture/equipment,1402.0,500<=X<1000,4<=X<7,3,female div/dep/mar,none,4.0,car,37,none,rent,1.0,skilled,1,yes,yes
726,no checking,15.0,critical/other existing credit,radio/tv,1316.0,500<=X<1000,1<=X<4,2,male mar/wid,none,2.0,life insurance,47,none,own,2.0,unskilled resident,1,none,yes
31,<0,24.0,existing paid,furniture/equipment,4020.0,<100,1<=X<4,2,male single,none,2.0,car,27,stores,own,1.0,skilled,1,none,yes
343,0<=X<200,18.0,existing paid,business,4439.0,<100,>=7,1,male single,co applicant,1.0,real estate,33,bank,own,1.0,high qualif/self emp/mgmt,1,yes,yes
605,<0,24.0,all paid,furniture/equipment,2828.0,500<=X<1000,1<=X<4,4,male single,none,4.0,real estate,22,stores,own,1.0,skilled,1,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,no checking,6.0,critical/other existing credit,new car,250.0,>=1000,1<=X<4,2,female div/dep/mar,none,2.0,real estate,41,bank,own,2.0,unskilled resident,1,none,yes
747,<0,12.0,existing paid,new car,1274.0,<100,<1,3,female div/dep/mar,none,1.0,real estate,37,none,own,1.0,unskilled resident,1,none,yes
534,no checking,24.0,existing paid,radio/tv,3105.0,no known savings,<1,4,male single,none,2.0,car,25,none,own,2.0,skilled,1,none,yes
97,0<=X<200,18.0,existing paid,business,2622.0,100<=X<500,1<=X<4,4,male single,none,4.0,car,34,none,own,1.0,skilled,1,none,yes
268,<0,14.0,existing paid,new car,8978.0,<100,>=7,1,male div/sep,none,4.0,life insurance,45,none,own,1.0,high qualif/self emp/mgmt,1,yes,no

In [5]:
data_train.dtypes

checking_status            object
duration                  float64
credit_history             object
purpose                    object
credit_amount             float64
savings_status             object
employment                 object
installment_commitment      int64
personal_status            object
other_parties              object
residence_since           float64
property_magnitude         object
age                         int64
other_payment_plans        object
housing                    object
existing_credits          float64
job                        object
num_dependents              int64
own_telephone              object
foreign_worker             object
label                      object
dtype: object

In [6]:
categorical_features = [
    'checking_status', 
    'credit_history', 
    'purpose', 
    'savings_status',
    'employment', 
    'personal_status', 
    'other_parties', 
    'property_magnitude',
    'other_payment_plans', 
    'housing', 
    'job', 
    'own_telephone',
    'foreign_worker',
    'installment_commitment', 
    'residence_since', 
    'existing_credits', 
    'num_dependents'
]

for feature in categorical_features:
    possible_values = data_train[feature].unique()
    print(f"{feature:20s} {possible_values.size:2d} {possible_values}")

checking_status       5 ['<0' 'no checking' '0<=X<200' '>=200' nan]
credit_history        5 ['existing paid' 'critical/other existing credit' 'delayed previously'
 'all paid' 'no credits/all paid']
purpose              11 ['furniture/equipment' 'used car' 'radio/tv' 'domestic appliance'
 'new car' 'education' 'business' 'retraining' 'repairs' 'other' nan]
savings_status        5 ['no known savings' '<100' '>=1000' '100<=X<500' '500<=X<1000']
employment            5 ['1<=X<4' '<1' '4<=X<7' '>=7' 'unemployed']
personal_status       5 ['male mar/wid' 'female div/dep/mar' 'male single' 'male div/sep' nan]
other_parties         3 ['none' 'guarantor' 'co applicant']
property_magnitude    5 ['car' 'real estate' 'life insurance' 'no known property' nan]
other_payment_plans   3 ['none' 'bank' 'stores']
housing               3 ['own' 'rent' 'for free']
job                   4 ['skilled' 'unskilled resident' 'unemp/unskilled non res'
 'high qualif/self emp/mgmt']
own_telephone         3 ['none' 'yes' nan]
foreign_worker        3 ['yes' 'no' nan]
installment_commitment  4 [2 1 4 3]
residence_since       5 [ 4.  2.  1.  3. nan]
existing_credits      5 [ 1.  2.  3.  4. nan]
num_dependents        2 [1 2]

In [7]:
data_train['label'].value_counts()

good    513
bad     235
Name: label, dtype: int64

In [8]:
data_test['label'].value_counts()

good    185
bad      65
Name: label, dtype: int64

# Instructions
- Investigate whether the dataset contains any missing data

checking_status           2
duration                  1
credit_history            0
purpose                   2
credit_amount             1
savings_status            0
employment                0
installment_commitment    0
personal_status           2
other_parties             0
residence_since           1
property_magnitude        1
age                       0
other_payment_plans       0
housing                   0
existing_credits          1
job                       0
num_dependents            0
own_telephone             1
foreign_worker            1
label                     0
dtype: int64

checking_status           1
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   1
existing_credits          2
job                       1
num_dependents            0
own_telephone             0
foreign_worker            0
label                     0
dtype: int64

checking_status           1
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          2
job                       1
num_dependents            0
own_telephone             0
foreign_worker            0
dtype: int64

# Instructions

- For each data set, split the data into
    - `pandas.DataFrame` of only categorical features
    - `pandas.DataFrame` of only numerical features

- Use `sklearn.impute.SimpleImputer` to handle missing values in each `pandas.DataFrame`
    - Note that these **filling parameters** should be applied to the test data and the live data

- Then, combine the `pandas.DataFrame`s to obtain the cleaned training, test, and live data set
  - Hint: use `.join`
  - Also, verify that the missing values no longer exist

## Handling of missing values for categorical features

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents
id,,,,,,,,,,,,,,,,,
495,<0,existing paid,furniture/equipment,no known savings,1<=X<4,male mar/wid,none,car,none,own,skilled,none,yes,2,4.0,1.0,1
296,no checking,existing paid,used car,no known savings,<1,female div/dep/mar,none,car,none,rent,skilled,none,yes,1,4.0,1.0,1
1,0<=X<200,existing paid,radio/tv,<100,1<=X<4,female div/dep/mar,none,real estate,none,own,skilled,none,yes,2,2.0,1.0,1
38,>=200,existing paid,domestic appliance,<100,1<=X<4,male single,none,car,none,own,skilled,yes,yes,2,2.0,1.0,1
568,0<=X<200,existing paid,radio/tv,no known savings,4<=X<7,male single,none,car,none,own,skilled,yes,yes,4,1.0,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,no checking,existing paid,radio/tv,no known savings,1<=X<4,female div/dep/mar,none,car,none,own,skilled,none,yes,4,2.0,1.0,1
192,0<=X<200,existing paid,business,<100,1<=X<4,male single,none,car,none,own,skilled,yes,yes,4,2.0,1.0,2
630,<0,existing paid,radio/tv,<100,1<=X<4,female div/dep/mar,none,car,none,own,skilled,none,yes,2,4.0,1.0,1
560,<0,existing paid,used car,no known savings,>=7,male single,none,no known property,bank,for free,skilled,yes,yes,4,4.0,1.0,2
685,no checking,existing paid,new car,no known savings,1<=X<4,male single,none,no known property,none,for free,skilled,yes,yes,4,4.0,1.0,2

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents
id,,,,,,,,,,,,,,,,,
271,no checking,critical/other existing credit,furniture/equipment,500<=X<1000,4<=X<7,female div/dep/mar,none,car,none,rent,skilled,yes,yes,3,4.0,1.0,1
726,no checking,critical/other existing credit,radio/tv,500<=X<1000,1<=X<4,male mar/wid,none,life insurance,none,own,unskilled resident,none,yes,2,2.0,2.0,1
31,<0,existing paid,furniture/equipment,<100,1<=X<4,male single,none,car,stores,own,skilled,none,yes,2,2.0,1.0,1
343,0<=X<200,existing paid,business,<100,>=7,male single,co applicant,real estate,bank,own,high qualif/self emp/mgmt,yes,yes,1,1.0,1.0,1
605,<0,all paid,furniture/equipment,500<=X<1000,1<=X<4,male single,none,real estate,stores,own,skilled,yes,yes,4,4.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,<0,critical/other existing credit,used car,<100,>=7,male single,none,no known property,none,for free,high qualif/self emp/mgmt,none,yes,4,4.0,2.0,1
454,<0,existing paid,new car,<100,4<=X<7,male single,co applicant,life insurance,none,own,skilled,yes,yes,2,3.0,1.0,1
468,no checking,delayed previously,business,<100,1<=X<4,female div/dep/mar,none,car,none,own,skilled,yes,yes,2,2.0,2.0,1
386,no checking,existing paid,radio/tv,no known savings,<1,female div/dep/mar,none,real estate,none,rent,skilled,yes,yes,4,2.0,1.0,1
492,no checking,critical/other existing credit,radio/tv,100<=X<500,1<=X<4,female div/dep/mar,none,life insurance,none,own,skilled,none,yes,1,1.0,2.0,1

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents
id,,,,,,,,,,,,,,,,,
271,no checking,critical/other existing credit,furniture/equipment,500<=X<1000,4<=X<7,female div/dep/mar,none,car,none,rent,skilled,yes,yes,3,4.0,1.0,1
726,no checking,critical/other existing credit,radio/tv,500<=X<1000,1<=X<4,male mar/wid,none,life insurance,none,own,unskilled resident,none,yes,2,2.0,2.0,1
31,<0,existing paid,furniture/equipment,<100,1<=X<4,male single,none,car,stores,own,skilled,none,yes,2,2.0,1.0,1
343,0<=X<200,existing paid,business,<100,>=7,male single,co applicant,real estate,bank,own,high qualif/self emp/mgmt,yes,yes,1,1.0,1.0,1
605,<0,all paid,furniture/equipment,500<=X<1000,1<=X<4,male single,none,real estate,stores,own,skilled,yes,yes,4,4.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,no checking,critical/other existing credit,new car,>=1000,1<=X<4,female div/dep/mar,none,real estate,bank,own,unskilled resident,none,yes,2,2.0,2.0,1
747,<0,existing paid,new car,<100,<1,female div/dep/mar,none,real estate,none,own,unskilled resident,none,yes,3,1.0,1.0,1
534,no checking,existing paid,radio/tv,no known savings,<1,male single,none,car,none,own,skilled,none,yes,4,2.0,2.0,1
97,0<=X<200,existing paid,business,100<=X<500,1<=X<4,male single,none,car,none,own,skilled,none,yes,4,4.0,1.0,1
268,<0,existing paid,new car,<100,>=7,male div/sep,none,life insurance,none,own,high qualif/self emp/mgmt,yes,no,1,4.0,1.0,1

SimpleImputer(strategy='most_frequent')

SimpleImputer(strategy='most_frequent')

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents
id,,,,,,,,,,,,,,,,,
495,<0,existing paid,furniture/equipment,no known savings,1<=X<4,male mar/wid,none,car,none,own,skilled,none,yes,2,4.0,1.0,1
296,no checking,existing paid,used car,no known savings,<1,female div/dep/mar,none,car,none,rent,skilled,none,yes,1,4.0,1.0,1
1,0<=X<200,existing paid,radio/tv,<100,1<=X<4,female div/dep/mar,none,real estate,none,own,skilled,none,yes,2,2.0,1.0,1
38,>=200,existing paid,domestic appliance,<100,1<=X<4,male single,none,car,none,own,skilled,yes,yes,2,2.0,1.0,1
568,0<=X<200,existing paid,radio/tv,no known savings,4<=X<7,male single,none,car,none,own,skilled,yes,yes,4,1.0,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,no checking,existing paid,radio/tv,no known savings,1<=X<4,female div/dep/mar,none,car,none,own,skilled,none,yes,4,2.0,1.0,1
192,0<=X<200,existing paid,business,<100,1<=X<4,male single,none,car,none,own,skilled,yes,yes,4,2.0,1.0,2
630,<0,existing paid,radio/tv,<100,1<=X<4,female div/dep/mar,none,car,none,own,skilled,none,yes,2,4.0,1.0,1
560,<0,existing paid,used car,no known savings,>=7,male single,none,no known property,bank,for free,skilled,yes,yes,4,4.0,1.0,2
685,no checking,existing paid,new car,no known savings,1<=X<4,male single,none,no known property,none,for free,skilled,yes,yes,4,4.0,1.0,2

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents
id,,,,,,,,,,,,,,,,,
271,no checking,critical/other existing credit,furniture/equipment,500<=X<1000,4<=X<7,female div/dep/mar,none,car,none,rent,skilled,yes,yes,3,4.0,1.0,1
726,no checking,critical/other existing credit,radio/tv,500<=X<1000,1<=X<4,male mar/wid,none,life insurance,none,own,unskilled resident,none,yes,2,2.0,2.0,1
31,<0,existing paid,furniture/equipment,<100,1<=X<4,male single,none,car,stores,own,skilled,none,yes,2,2.0,1.0,1
343,0<=X<200,existing paid,business,<100,>=7,male single,co applicant,real estate,bank,own,high qualif/self emp/mgmt,yes,yes,1,1.0,1.0,1
605,<0,all paid,furniture/equipment,500<=X<1000,1<=X<4,male single,none,real estate,stores,own,skilled,yes,yes,4,4.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,<0,critical/other existing credit,used car,<100,>=7,male single,none,no known property,none,for free,high qualif/self emp/mgmt,none,yes,4,4.0,2.0,1
454,<0,existing paid,new car,<100,4<=X<7,male single,co applicant,life insurance,none,own,skilled,yes,yes,2,3.0,1.0,1
468,no checking,delayed previously,business,<100,1<=X<4,female div/dep/mar,none,car,none,own,skilled,yes,yes,2,2.0,2.0,1
386,no checking,existing paid,radio/tv,no known savings,<1,female div/dep/mar,none,real estate,none,rent,skilled,yes,yes,4,2.0,1.0,1
492,no checking,critical/other existing credit,radio/tv,100<=X<500,1<=X<4,female div/dep/mar,none,life insurance,none,own,skilled,none,yes,1,1.0,2.0,1

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents
id,,,,,,,,,,,,,,,,,
271,no checking,critical/other existing credit,furniture/equipment,500<=X<1000,4<=X<7,female div/dep/mar,none,car,none,rent,skilled,yes,yes,3,4.0,1.0,1
726,no checking,critical/other existing credit,radio/tv,500<=X<1000,1<=X<4,male mar/wid,none,life insurance,none,own,unskilled resident,none,yes,2,2.0,2.0,1
31,<0,existing paid,furniture/equipment,<100,1<=X<4,male single,none,car,stores,own,skilled,none,yes,2,2.0,1.0,1
343,0<=X<200,existing paid,business,<100,>=7,male single,co applicant,real estate,bank,own,high qualif/self emp/mgmt,yes,yes,1,1.0,1.0,1
605,<0,all paid,furniture/equipment,500<=X<1000,1<=X<4,male single,none,real estate,stores,own,skilled,yes,yes,4,4.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,no checking,critical/other existing credit,new car,>=1000,1<=X<4,female div/dep/mar,none,real estate,bank,own,unskilled resident,none,yes,2,2.0,2.0,1
747,<0,existing paid,new car,<100,<1,female div/dep/mar,none,real estate,none,own,unskilled resident,none,yes,3,1.0,1.0,1
534,no checking,existing paid,radio/tv,no known savings,<1,male single,none,car,none,own,skilled,none,yes,4,2.0,2.0,1
97,0<=X<200,existing paid,business,100<=X<500,1<=X<4,male single,none,car,none,own,skilled,none,yes,4,4.0,1.0,1
268,<0,existing paid,new car,<100,>=7,male div/sep,none,life insurance,none,own,high qualif/self emp/mgmt,yes,no,1,4.0,1.0,1

checking_status           0
credit_history            0
purpose                   0
savings_status            0
employment                0
personal_status           0
other_parties             0
property_magnitude        0
other_payment_plans       0
housing                   0
job                       0
own_telephone             0
foreign_worker            0
installment_commitment    0
residence_since           0
existing_credits          0
num_dependents            0
dtype: int64

checking_status           0
credit_history            0
purpose                   0
savings_status            0
employment                0
personal_status           0
other_parties             0
property_magnitude        0
other_payment_plans       0
housing                   0
job                       0
own_telephone             0
foreign_worker            0
installment_commitment    0
residence_since           0
existing_credits          0
num_dependents            0
dtype: int64

checking_status           0
credit_history            0
purpose                   0
savings_status            0
employment                0
personal_status           0
other_parties             0
property_magnitude        0
other_payment_plans       0
housing                   0
job                       0
own_telephone             0
foreign_worker            0
installment_commitment    0
residence_since           0
existing_credits          0
num_dependents            0
dtype: int64

## Handling of missing values for numerical features

In [23]:
numerical_features = [
    'duration',
    'credit_amount',
    'age',
]

     duration  credit_amount  age
id
495      24.0         2996.0   20
296      12.0         4675.0   20
1        48.0         5951.0   22
38       10.0         1225.0   37
568      48.0         3979.0   41
..        ...            ...  ...
836      12.0          886.0   21
192      27.0         3915.0   36
630      24.0         3660.0   28
560      24.0         2964.0   49
685      60.0         6527.0   34

[748 rows x 3 columns]

     duration  credit_amount  age
id
271      12.0         1402.0   37
726      15.0         1316.0   47
31       24.0         4020.0   27
343      18.0         4439.0   33
605      24.0         2828.0   22
..        ...            ...  ...
75       12.0         1526.0   66
454      24.0         4817.0   31
468      33.0         2764.0   26
386      18.0         1126.0   21
492       6.0         1237.0   27

[250 rows x 3 columns]

     duration  credit_amount  age
id
271      12.0         1402.0   37
726      15.0         1316.0   47
31       24.0         4020.0   27
343      18.0         4439.0   33
605      24.0         2828.0   22
..        ...            ...  ...
725       6.0          250.0   41
747      12.0         1274.0   37
534      24.0         3105.0   25
97       18.0         2622.0   34
268      14.0         8978.0   45

[100 rows x 3 columns]

SimpleImputer()

SimpleImputer()

     duration  credit_amount   age
id
495      24.0         2996.0  20.0
296      12.0         4675.0  20.0
1        48.0         5951.0  22.0
38       10.0         1225.0  37.0
568      48.0         3979.0  41.0
..        ...            ...   ...
836      12.0          886.0  21.0
192      27.0         3915.0  36.0
630      24.0         3660.0  28.0
560      24.0         2964.0  49.0
685      60.0         6527.0  34.0

[748 rows x 3 columns]

     duration  credit_amount   age
id
271      12.0         1402.0  37.0
726      15.0         1316.0  47.0
31       24.0         4020.0  27.0
343      18.0         4439.0  33.0
605      24.0         2828.0  22.0
..        ...            ...   ...
75       12.0         1526.0  66.0
454      24.0         4817.0  31.0
468      33.0         2764.0  26.0
386      18.0         1126.0  21.0
492       6.0         1237.0  27.0

[250 rows x 3 columns]

     duration  credit_amount   age
id
271      12.0         1402.0  37.0
726      15.0         1316.0  47.0
31       24.0         4020.0  27.0
343      18.0         4439.0  33.0
605      24.0         2828.0  22.0
..        ...            ...   ...
725       6.0          250.0  41.0
747      12.0         1274.0  37.0
534      24.0         3105.0  25.0
97       18.0         2622.0  34.0
268      14.0         8978.0  45.0

[100 rows x 3 columns]

duration         0
credit_amount    0
age              0
dtype: int64

duration         0
credit_amount    0
age              0
dtype: int64

duration         0
credit_amount    0
age              0
dtype: int64

## Reconstruction of data sets
- Combine the 3 `pandas.DataFrame` to obtain the cleaned training, test, and live data set
  - Hint: categoical features, numerical features, and label

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,...,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents,duration,credit_amount,age,label
id,,,,,,,,,,,,,,,,,,,,,
495,<0,existing paid,furniture/equipment,no known savings,1<=X<4,male mar/wid,none,car,none,own,...,none,yes,2,4.0,1.0,1,24.0,2996.0,20.0,bad
296,no checking,existing paid,used car,no known savings,<1,female div/dep/mar,none,car,none,rent,...,none,yes,1,4.0,1.0,1,12.0,4675.0,20.0,good
1,0<=X<200,existing paid,radio/tv,<100,1<=X<4,female div/dep/mar,none,real estate,none,own,...,none,yes,2,2.0,1.0,1,48.0,5951.0,22.0,bad
38,>=200,existing paid,domestic appliance,<100,1<=X<4,male single,none,car,none,own,...,yes,yes,2,2.0,1.0,1,10.0,1225.0,37.0,good
568,0<=X<200,existing paid,radio/tv,no known savings,4<=X<7,male single,none,car,none,own,...,yes,yes,4,1.0,2.0,2,48.0,3979.0,41.0,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,no checking,existing paid,radio/tv,no known savings,1<=X<4,female div/dep/mar,none,car,none,own,...,none,yes,4,2.0,1.0,1,12.0,886.0,21.0,good
192,0<=X<200,existing paid,business,<100,1<=X<4,male single,none,car,none,own,...,yes,yes,4,2.0,1.0,2,27.0,3915.0,36.0,bad
630,<0,existing paid,radio/tv,<100,1<=X<4,female div/dep/mar,none,car,none,own,...,none,yes,2,4.0,1.0,1,24.0,3660.0,28.0,good
560,<0,existing paid,used car,no known savings,>=7,male single,none,no known property,bank,for free,...,yes,yes,4,4.0,1.0,2,24.0,2964.0,49.0,good
685,no checking,existing paid,new car,no known savings,1<=X<4,male single,none,no known property,none,for free,...,yes,yes,4,4.0,1.0,2,60.0,6527.0,34.0,good

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,...,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents,duration,credit_amount,age,label
id,,,,,,,,,,,,,,,,,,,,,
271,no checking,critical/other existing credit,furniture/equipment,500<=X<1000,4<=X<7,female div/dep/mar,none,car,none,rent,...,yes,yes,3,4.0,1.0,1,12.0,1402.0,37.0,good
726,no checking,critical/other existing credit,radio/tv,500<=X<1000,1<=X<4,male mar/wid,none,life insurance,none,own,...,none,yes,2,2.0,2.0,1,15.0,1316.0,47.0,good
31,<0,existing paid,furniture/equipment,<100,1<=X<4,male single,none,car,stores,own,...,none,yes,2,2.0,1.0,1,24.0,4020.0,27.0,good
343,0<=X<200,existing paid,business,<100,>=7,male single,co applicant,real estate,bank,own,...,yes,yes,1,1.0,1.0,1,18.0,4439.0,33.0,good
605,<0,all paid,furniture/equipment,500<=X<1000,1<=X<4,male single,none,real estate,stores,own,...,yes,yes,4,4.0,1.0,1,24.0,2828.0,22.0,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,<0,critical/other existing credit,used car,<100,>=7,male single,none,no known property,none,for free,...,none,yes,4,4.0,2.0,1,12.0,1526.0,66.0,good
454,<0,existing paid,new car,<100,4<=X<7,male single,co applicant,life insurance,none,own,...,yes,yes,2,3.0,1.0,1,24.0,4817.0,31.0,bad
468,no checking,delayed previously,business,<100,1<=X<4,female div/dep/mar,none,car,none,own,...,yes,yes,2,2.0,2.0,1,33.0,2764.0,26.0,good
386,no checking,existing paid,radio/tv,no known savings,<1,female div/dep/mar,none,real estate,none,rent,...,yes,yes,4,2.0,1.0,1,18.0,1126.0,21.0,good
492,no checking,critical/other existing credit,radio/tv,100<=X<500,1<=X<4,female div/dep/mar,none,life insurance,none,own,...,none,yes,1,1.0,2.0,1,6.0,1237.0,27.0,good

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents,duration,credit_amount,age
id,,,,,,,,,,,,,,,,,,,,
271,no checking,critical/other existing credit,furniture/equipment,500<=X<1000,4<=X<7,female div/dep/mar,none,car,none,rent,skilled,yes,yes,3,4.0,1.0,1,12.0,1402.0,37.0
726,no checking,critical/other existing credit,radio/tv,500<=X<1000,1<=X<4,male mar/wid,none,life insurance,none,own,unskilled resident,none,yes,2,2.0,2.0,1,15.0,1316.0,47.0
31,<0,existing paid,furniture/equipment,<100,1<=X<4,male single,none,car,stores,own,skilled,none,yes,2,2.0,1.0,1,24.0,4020.0,27.0
343,0<=X<200,existing paid,business,<100,>=7,male single,co applicant,real estate,bank,own,high qualif/self emp/mgmt,yes,yes,1,1.0,1.0,1,18.0,4439.0,33.0
605,<0,all paid,furniture/equipment,500<=X<1000,1<=X<4,male single,none,real estate,stores,own,skilled,yes,yes,4,4.0,1.0,1,24.0,2828.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,no checking,critical/other existing credit,new car,>=1000,1<=X<4,female div/dep/mar,none,real estate,bank,own,unskilled resident,none,yes,2,2.0,2.0,1,6.0,250.0,41.0
747,<0,existing paid,new car,<100,<1,female div/dep/mar,none,real estate,none,own,unskilled resident,none,yes,3,1.0,1.0,1,12.0,1274.0,37.0
534,no checking,existing paid,radio/tv,no known savings,<1,male single,none,car,none,own,skilled,none,yes,4,2.0,2.0,1,24.0,3105.0,25.0
97,0<=X<200,existing paid,business,100<=X<500,1<=X<4,male single,none,car,none,own,skilled,none,yes,4,4.0,1.0,1,18.0,2622.0,34.0
268,<0,existing paid,new car,<100,>=7,male div/sep,none,life insurance,none,own,high qualif/self emp/mgmt,yes,no,1,4.0,1.0,1,14.0,8978.0,45.0

# Instructions
- Create 4 `pandas.DataFrame`s
    - `pandas.DataFrame` of only numerical features. Also, apply `sklearn.preprocessing.StandardScaler`.
    - `pandas.DataFrame` of only ordinal features encoded using `sklearn.preprocessing.OrdinalEncoder`
    - `pandas.DataFrame` of only nominal features encoded using `sklearn.preprocessing.OneHotEncoder`
    - `pandas.DataFrame` of labels encoded using `sklearn.preprocessing.OrdinalEncoder` 
       - Map {`good`, `bad`} to {0, 1} respectively
- Note that these **encoding parameters** should be applied to the test data and the live data as well
- Then, combine the 4 `pandas.DataFrame` to obtain the fully processed training, test, and live data
  - Hint: use `.join`

## For ordinal features
- Define a subset of ordinal features
- Define a list of categorical maps which sort the feature values in appropriate orders
- Use `sklearn.preprocessing.OrdinalEncoder` to create a categorical encoder, then fit using the training data
- Create a new `pandas.DataFrame` of only ordinally encoded features for  training, test, and live data

In [38]:
ordinal_features = [
    'employment', 
    'own_telephone',
    'foreign_worker',
    'installment_commitment',
    'residence_since',
    'existing_credits',
    'num_dependents',
]

In [39]:
ordinal_mapping = [
    ['unemployed', '<1', '1<=X<4', '4<=X<7', '>=7'],
    ['none', 'yes'],
    ['no', 'yes'],
    [1, 2, 3, 4],
    [1.0, 2.0, 3.0, 4.0],
    [1.0, 2.0, 3.0, 4.0],
    [1, 2],
]

OrdinalEncoder(categories=[['unemployed', '<1', '1<=X<4', '4<=X<7', '>=7'],
                           ['none', 'yes'], ['no', 'yes'], [1, 2, 3, 4],
                           [1.0, 2.0, 3.0, 4.0], [1.0, 2.0, 3.0, 4.0], [1, 2]])

OrdinalEncoder(categories=[['unemployed', '<1', '1<=X<4', '4<=X<7', '>=7'],
                           ['none', 'yes'], ['no', 'yes'], [1, 2, 3, 4],
                           [1.0, 2.0, 3.0, 4.0], [1.0, 2.0, 3.0, 4.0], [1, 2]])

,employment,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents
id,,,,,,,
495,2.0,0.0,1.0,1.0,3.0,0.0,0.0
296,1.0,0.0,1.0,0.0,3.0,0.0,0.0
1,2.0,0.0,1.0,1.0,1.0,0.0,0.0
38,2.0,1.0,1.0,1.0,1.0,0.0,0.0
568,3.0,1.0,1.0,3.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...
836,2.0,0.0,1.0,3.0,1.0,0.0,0.0
192,2.0,1.0,1.0,3.0,1.0,0.0,1.0
630,2.0,0.0,1.0,1.0,3.0,0.0,0.0
560,4.0,1.0,1.0,3.0,3.0,0.0,1.0
685,2.0,1.0,1.0,3.0,3.0,0.0,1.0

,employment,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents
id,,,,,,,
271,3.0,1.0,1.0,2.0,3.0,0.0,0.0
726,2.0,0.0,1.0,1.0,1.0,1.0,0.0
31,2.0,0.0,1.0,1.0,1.0,0.0,0.0
343,4.0,1.0,1.0,0.0,0.0,0.0,0.0
605,2.0,1.0,1.0,3.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...
75,4.0,0.0,1.0,3.0,3.0,1.0,0.0
454,3.0,1.0,1.0,1.0,2.0,0.0,0.0
468,2.0,1.0,1.0,1.0,1.0,1.0,0.0
386,1.0,1.0,1.0,3.0,1.0,0.0,0.0
492,2.0,0.0,1.0,0.0,0.0,1.0,0.0

,employment,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents
id,,,,,,,
271,3.0,1.0,1.0,2.0,3.0,0.0,0.0
726,2.0,0.0,1.0,1.0,1.0,1.0,0.0
31,2.0,0.0,1.0,1.0,1.0,0.0,0.0
343,4.0,1.0,1.0,0.0,0.0,0.0,0.0
605,2.0,1.0,1.0,3.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...
725,2.0,0.0,1.0,1.0,1.0,1.0,0.0
747,1.0,0.0,1.0,2.0,0.0,0.0,0.0
534,1.0,0.0,1.0,3.0,1.0,1.0,0.0
97,2.0,0.0,1.0,3.0,3.0,0.0,0.0
268,4.0,1.0,0.0,0.0,3.0,0.0,0.0

## For nominal features
- Define a subset of nominal features
- Define a list of nominal maps which sort the feature values in appropriate orders
- Use `sklearn.preprocessing.OneHotEncoder` to create an nominal encoder, then fit using the training data
- Create a new `pandas.DataFrame` of only nominally encoded features for training, test, and live data

In [45]:
nominal_features = [
    'job', 
    'checking_status', 
    'credit_history', 
    'purpose', 
    'savings_status',
    'personal_status', 
    'other_parties', 
    'property_magnitude',
    'other_payment_plans', 
    'housing', 
]

In [46]:
nominal_mapping = [
    [ 'unemp/unskilled non res', 'unskilled resident', 'skilled', 'high qualif/self emp/mgmt'],
    ['no checking', '<0', '0<=X<200', '>=200'],
    ['delayed previously', 'all paid', 'critical/other existing credit', 'existing paid', 'no credits/all paid'],
    ['furniture/equipment', 'business', 'new car', 'used car', 'radio/tv', 'domestic appliance', 'repairs', 'education', 'retraining', 'other'],
    ['no known savings', '<100', '100<=X<500', '500<=X<1000', '>=1000'],
    ['male single', 'female div/dep/mar', 'male mar/wid', 'male div/sep'],
    ['none', 'guarantor', 'co applicant'],
    ['no known property', 'life insurance', 'car', 'real estate'],
    ['none', 'stores', 'bank'],
    ['for free', 'rent', 'own']
]

OneHotEncoder(categories=[['unemp/unskilled non res', 'unskilled resident',
                           'skilled', 'high qualif/self emp/mgmt'],
                          ['no checking', '<0', '0<=X<200', '>=200'],
                          ['delayed previously', 'all paid',
                           'critical/other existing credit', 'existing paid',
                           'no credits/all paid'],
                          ['furniture/equipment', 'business', 'new car',
                           'used car', 'radio/tv', 'domestic appliance',
                           'repairs', 'education', 'retraining', 'other'],
                          ['no known savings', '<100', '100<=X<500',
                           '500<=X<1000', '>=1000'],
                          ['male single', 'female div/dep/mar', 'male mar/wid',
                           'male div/sep'],
                          ['none', 'guarantor', 'co applicant'],
                          ['no known property', 'life insurance', 'car',
                           'real estate'],
                          ['none', 'stores', 'bank'],
                          ['for free', 'rent', 'own']],
              sparse_output=False)

OneHotEncoder(categories=[['unemp/unskilled non res', 'unskilled resident',
                           'skilled', 'high qualif/self emp/mgmt'],
                          ['no checking', '<0', '0<=X<200', '>=200'],
                          ['delayed previously', 'all paid',
                           'critical/other existing credit', 'existing paid',
                           'no credits/all paid'],
                          ['furniture/equipment', 'business', 'new car',
                           'used car', 'radio/tv', 'domestic appliance',
                           'repairs', 'education', 'retraining', 'other'],
                          ['no known savings', '<100', '100<=X<500',
                           '500<=X<1000', '>=1000'],
                          ['male single', 'female div/dep/mar', 'male mar/wid',
                           'male div/sep'],
                          ['none', 'guarantor', 'co applicant'],
                          ['no known property', 'life insurance', 'car',
                           'real estate'],
                          ['none', 'stores', 'bank'],
                          ['for free', 'rent', 'own']],
              sparse_output=False)

array(['job_unemp/unskilled non res', 'job_unskilled resident',
       'job_skilled', 'job_high qualif/self emp/mgmt',
       'checking_status_no checking', 'checking_status_<0',
       'checking_status_0<=X<200', 'checking_status_>=200',
       'credit_history_delayed previously', 'credit_history_all paid',
       'credit_history_critical/other existing credit',
       'credit_history_existing paid',
       'credit_history_no credits/all paid',
       'purpose_furniture/equipment', 'purpose_business',
       'purpose_new car', 'purpose_used car', 'purpose_radio/tv',
       'purpose_domestic appliance', 'purpose_repairs',
       'purpose_education', 'purpose_retraining', 'purpose_other',
       'savings_status_no known savings', 'savings_status_<100',
       'savings_status_100<=X<500', 'savings_status_500<=X<1000',
       'savings_status_>=1000', 'personal_status_male single',
       'personal_status_female div/dep/mar',
       'personal_status_male mar/wid', 'personal_status_male div/sep',
       'other_parties_none', 'other_parties_guarantor',
       'other_parties_co applicant',
       'property_magnitude_no known property',
       'property_magnitude_life insurance', 'property_magnitude_car',
       'property_magnitude_real estate', 'other_payment_plans_none',
       'other_payment_plans_stores', 'other_payment_plans_bank',
       'housing_for free', 'housing_rent', 'housing_own'], dtype=object)

,job_unemp/unskilled non res,job_unskilled resident,job_skilled,job_high qualif/self emp/mgmt,checking_status_no checking,checking_status_<0,checking_status_0<=X<200,checking_status_>=200,credit_history_delayed previously,credit_history_all paid,...,property_magnitude_no known property,property_magnitude_life insurance,property_magnitude_car,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,other_payment_plans_bank,housing_for free,housing_rent,housing_own
id,,,,,,,,,,,,,,,,,,,,,
495,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
296,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
568,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
192,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
630,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
560,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
685,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

,job_unemp/unskilled non res,job_unskilled resident,job_skilled,job_high qualif/self emp/mgmt,checking_status_no checking,checking_status_<0,checking_status_0<=X<200,checking_status_>=200,credit_history_delayed previously,credit_history_all paid,...,property_magnitude_no known property,property_magnitude_life insurance,property_magnitude_car,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,other_payment_plans_bank,housing_for free,housing_rent,housing_own
id,,,,,,,,,,,,,,,,,,,,,
271,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
726,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
31,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
343,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
605,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
454,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
468,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
386,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
492,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

,job_unemp/unskilled non res,job_unskilled resident,job_skilled,job_high qualif/self emp/mgmt,checking_status_no checking,checking_status_<0,checking_status_0<=X<200,checking_status_>=200,credit_history_delayed previously,credit_history_all paid,...,property_magnitude_no known property,property_magnitude_life insurance,property_magnitude_car,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,other_payment_plans_bank,housing_for free,housing_rent,housing_own
id,,,,,,,,,,,,,,,,,,,,,
271,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
726,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
31,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
343,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
605,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
747,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
534,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
97,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
268,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

## For numerical features
- Use a subset of numerical features
- Apply `sklearn.preprocessing.StandardScaler` to create a standard scaler, then fit using the training data
- Create a new `pandas.DataFrame` of only numerically encoded features for both training and test data

StandardScaler()

StandardScaler()

     duration  credit_amount       age
id
495  0.273882      -0.080100 -1.359664
296 -0.724523       0.526828 -1.359664
1    2.270692       0.988078 -1.185843
38  -0.890924      -0.720284  0.117817
568  2.270692       0.275237  0.465460
..        ...            ...       ...
836 -0.724523      -0.842826 -1.272753
192  0.523483       0.252102  0.030907
630  0.273882       0.159924 -0.664379
560  0.273882      -0.091667  1.160745
685  3.269098       1.196292 -0.142915

[748 rows x 3 columns]

     duration  credit_amount       age
id
271 -0.724523      -0.656302  0.117817
726 -0.474922      -0.687389  0.986924
31   0.273882       0.290057 -0.751289
343 -0.225321       0.441518 -0.229825
605  0.273882      -0.140829 -1.185843
..        ...            ...       ...
75  -0.724523      -0.611478  2.638227
454  0.273882       0.578158 -0.403647
468  1.022686      -0.163964 -0.838200
386 -0.225321      -0.756071 -1.272753
492 -1.223726      -0.715946 -0.751289

[250 rows x 3 columns]

     duration  credit_amount       age
id
271 -0.724523      -0.656302  0.117817
726 -0.474922      -0.687389  0.986924
31   0.273882       0.290057 -0.751289
343 -0.225321       0.441518 -0.229825
605  0.273882      -0.140829 -1.185843
..        ...            ...       ...
725 -1.223726      -1.072729  0.465460
747 -0.724523      -0.702571  0.117817
534  0.273882      -0.040698 -0.925111
97  -0.225321      -0.215294 -0.142915
268 -0.558122       2.082283  0.813103

[100 rows x 3 columns]

## For labels
- Define a subset of ordinal features
- Use `sklearn.preprocessing.OrdinalEncoder` to create an ordinal encoder, then fit using the training data
  - Map {`good`, `bad`} to {0, 1} respectively
- Create a new `pandas.DataFrame` of ordinally encoded labels for both training and test data

OrdinalEncoder(categories=[['good', 'bad']])

OrdinalEncoder(categories=[['good', 'bad']])

     label
id
495    1.0
296    0.0
1      1.0
38     0.0
568    0.0
..     ...
836    0.0
192    1.0
630    0.0
560    0.0
685    0.0

[748 rows x 1 columns]

     label
id
271    0.0
726    0.0
31     0.0
343    0.0
605    0.0
..     ...
75     0.0
454    1.0
468    0.0
386    0.0
492    0.0

[250 rows x 1 columns]

## Reconstruction of data sets
- Combine the 4 `pandas.DataFrame` to obtain the fully processed training and test data
- Then, combine the 3 `pandas.DataFrame` to obtain the fully processed live data
  - Hint: use `.join`

,duration,credit_amount,age,employment,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents,...,property_magnitude_life insurance,property_magnitude_car,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,other_payment_plans_bank,housing_for free,housing_rent,housing_own,label
id,,,,,,,,,,,,,,,,,,,,,
495,0.273882,-0.080100,-1.359664,2.0,0.0,1.0,1.0,3.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
296,-0.724523,0.526828,-1.359664,1.0,0.0,1.0,0.0,3.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2.270692,0.988078,-1.185843,2.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
38,-0.890924,-0.720284,0.117817,2.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
568,2.270692,0.275237,0.465460,3.0,1.0,1.0,3.0,0.0,1.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,-0.724523,-0.842826,-1.272753,2.0,0.0,1.0,3.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
192,0.523483,0.252102,0.030907,2.0,1.0,1.0,3.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
630,0.273882,0.159924,-0.664379,2.0,0.0,1.0,1.0,3.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
560,0.273882,-0.091667,1.160745,4.0,1.0,1.0,3.0,3.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
685,3.269098,1.196292,-0.142915,2.0,1.0,1.0,3.0,3.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

,duration,credit_amount,age,employment,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents,...,property_magnitude_life insurance,property_magnitude_car,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,other_payment_plans_bank,housing_for free,housing_rent,housing_own,label
id,,,,,,,,,,,,,,,,,,,,,
271,-0.724523,-0.656302,0.117817,3.0,1.0,1.0,2.0,3.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
726,-0.474922,-0.687389,0.986924,2.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
31,0.273882,0.290057,-0.751289,2.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
343,-0.225321,0.441518,-0.229825,4.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
605,0.273882,-0.140829,-1.185843,2.0,1.0,1.0,3.0,3.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,-0.724523,-0.611478,2.638227,4.0,0.0,1.0,3.0,3.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
454,0.273882,0.578158,-0.403647,3.0,1.0,1.0,1.0,2.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
468,1.022686,-0.163964,-0.838200,2.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
386,-0.225321,-0.756071,-1.272753,1.0,1.0,1.0,3.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
492,-1.223726,-0.715946,-0.751289,2.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

,duration,credit_amount,age,employment,own_telephone,foreign_worker,installment_commitment,residence_since,existing_credits,num_dependents,...,property_magnitude_no known property,property_magnitude_life insurance,property_magnitude_car,property_magnitude_real estate,other_payment_plans_none,other_payment_plans_stores,other_payment_plans_bank,housing_for free,housing_rent,housing_own
id,,,,,,,,,,,,,,,,,,,,,
271,-0.724523,-0.656302,0.117817,3.0,1.0,1.0,2.0,3.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
726,-0.474922,-0.687389,0.986924,2.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
31,0.273882,0.290057,-0.751289,2.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
343,-0.225321,0.441518,-0.229825,4.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
605,0.273882,-0.140829,-1.185843,2.0,1.0,1.0,3.0,3.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,-1.223726,-1.072729,0.465460,2.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
747,-0.724523,-0.702571,0.117817,1.0,0.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
534,0.273882,-0.040698,-0.925111,1.0,0.0,1.0,3.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
97,-0.225321,-0.215294,-0.142915,2.0,0.0,1.0,3.0,3.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
268,-0.558122,2.082283,0.813103,4.0,1.0,0.0,0.0,3.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

# Instructions
- Write the train data set to `./data/features.train.csv`
- Write the test data set to `./data/features.test.csv`
- Write the live data set to `./data/features.live.csv`