In [1]:
import pandas
import sklearn.model_selection

# Instructions

- Read the data from CSV file `./data/heart_failure.csv` and properly set the index
  - Each row represents the medical information for each patient 
- **The objective is to build a model that predicts `death_event` for new patients given all other columns**
  - The lab exercises are designed speciallly for students to follow the industry standard through hands-on experience
  - The lab summary will be discussed after completing all the steps with guidance from the instructor
- Split the data into a train data set and a test data set using `sklearn.model_selection.train_test_split` with the following configurations:
```
    train_size   = 0.75
    shuffle      = True 
    random_state = 0
```
- Write the train data set to `./data/heart_failure.train.csv`
- Write the test data set to `./data/heart_failure.test.csv`
- **No data processing shall be performed in this step**

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,death_event
id,,,,,,,,,,,,,
0,75.0,no,582.0,no,20.0,yes,265000.00,1.9,130.0,male,no,4.0,yes
1,55.0,no,7861.0,no,38.0,no,263358.03,1.1,136.0,male,no,6.0,yes
2,65.0,no,146.0,no,20.0,no,162000.00,1.3,129.0,male,yes,7.0,yes
3,50.0,yes,111.0,no,20.0,no,210000.00,1.9,137.0,male,no,7.0,yes
4,65.0,yes,160.0,yes,20.0,no,327000.00,2.7,116.0,female,no,8.0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,no,61.0,yes,38.0,yes,155000.00,1.1,143.0,male,yes,270.0,no
295,55.0,no,1820.0,no,38.0,no,270000.00,1.2,139.0,female,no,271.0,no
296,45.0,no,2060.0,yes,60.0,no,742000.00,0.8,138.0,female,no,278.0,no
297,45.0,no,2413.0,no,38.0,no,140000.00,1.4,140.0,male,yes,280.0,no
298,50.0,no,196.0,no,45.0,no,395000.00,1.6,136.0,male,yes,285.0,no