In [1]:
import numpy
import pandas
import sklearn.datasets

# Instructions

- Run this script to generate data for all experiments
- This script write the data to `./data/swiss_roll.csv`

In [2]:
def rotation_matrix(theta):
    return (
        numpy.asarray([
            [1, 0, 0],
            [0, numpy.cos(theta), -numpy.sin(theta)],
            [0, numpy.sin(theta), numpy.cos(theta)],
        ])
        .dot(numpy.asarray([
            [numpy.cos(theta), 0, numpy.sin(theta)],
            [0, 1, 0],
            [-numpy.sin(theta), 0, numpy.cos(theta)],
        ]))
        .dot(numpy.asarray([
            [numpy.cos(theta), -numpy.sin(theta), 0],
            [numpy.sin(theta), numpy.cos(theta), 0],
            [0, 0, 1],
        ]))
    )

In [3]:
data_points, data_colors = sklearn.datasets.make_swiss_roll(
    n_samples = 1000, 
    noise = 0.,
    random_state = 0,
)
data_points = data_points.dot(rotation_matrix(numpy.pi/6))

In [4]:
data = pandas.DataFrame({
    'feature_1': data_points[:, 0],
    'feature_2': data_points[:, 1],
    'feature_3': data_points[:, 2],
    'label': (data_points.mean(axis=1) > data_points.mean()).astype(int),
})

data.index.name = 'id'
data

     feature_1  feature_2  feature_3  label
id
0     1.992622   8.766139 -13.111400      0
1     5.214460  -8.732085  -5.270052      0
2     3.144801   3.231929 -13.694254      0
3     3.438061  10.565203 -13.966889      0
4    -5.027796   7.138582   0.629267      0
..         ...        ...        ...    ...
995  14.581925   6.229285  -7.511030      1
996   2.901444  12.695880 -12.299160      0
997  10.707488  10.445319   7.853760      1
998  12.605294   8.430044  -0.150085      1
999   9.044255  -1.058575 -12.296242      0

[1000 rows x 4 columns]

In [5]:
data.to_csv('./data/swiss_roll.csv')