In [1]:
import numpy
import pandas
import sklearn.datasets
import sklearn.model_selection

# Instructions

- Run this script to generate data for all experiments
- This script write the data to `./data/credit.csv`

In [2]:
data = sklearn.datasets.fetch_openml('credit-g', as_frame=True, parser='auto').frame
data.columns = data.columns.str.lower()
data.index.name = 'id'
data = data.rename(columns={"class": "label"})
data

/opt/conda/lib/python3.10/site-packages/sklearn/datasets/_openml.py:292: UserWarning: Multiple active versions of the dataset matching the name credit-g exist. Versions may be fundamentally different, returning version 1.
  warn(

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12,existing paid,furniture/equipment,1736,<100,4<=X<7,3,female div/dep/mar,none,...,real estate,31,none,own,1,unskilled resident,1,none,yes,good
996,<0,30,existing paid,used car,3857,<100,1<=X<4,4,male div/sep,none,...,life insurance,40,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
997,no checking,12,existing paid,radio/tv,804,<100,>=7,4,male single,none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,existing paid,radio/tv,1845,<100,1<=X<4,4,male single,none,...,no known property,23,none,for free,1,skilled,1,yes,yes,bad
999,0<=X<200,45,critical/other existing credit,used car,4576,100<=X<500,unemployed,3,male single,none,...,car,27,none,own,1,skilled,1,none,yes,good

In [3]:
numpy.random.seed(0)
data = data.mask(
    numpy.random.choice(
        [False, True], 
        size=data.shape, 
        p=[0.999, 0.001]),
    numpy.nan
)
data

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2.0,skilled,1,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1.0,skilled,1,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1.0,unskilled resident,2,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1.0,skilled,2,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2.0,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3,female div/dep/mar,none,...,real estate,31,none,own,1.0,unskilled resident,1,none,yes,good
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4,male div/sep,none,...,life insurance,40,none,own,1.0,high qualif/self emp/mgmt,1,yes,yes,good
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4,male single,none,...,car,38,none,own,1.0,skilled,1,none,yes,good
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4,male single,none,...,no known property,23,none,for free,1.0,skilled,1,yes,yes,bad
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3,male single,none,...,car,27,none,own,1.0,skilled,1,none,yes,good

In [4]:
data = data.dropna(subset=['label'])
data

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2.0,skilled,1,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1.0,skilled,1,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1.0,unskilled resident,2,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1.0,skilled,2,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2.0,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3,female div/dep/mar,none,...,real estate,31,none,own,1.0,unskilled resident,1,none,yes,good
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4,male div/sep,none,...,life insurance,40,none,own,1.0,high qualif/self emp/mgmt,1,yes,yes,good
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4,male single,none,...,car,38,none,own,1.0,skilled,1,none,yes,good
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4,male single,none,...,no known property,23,none,for free,1.0,skilled,1,yes,yes,bad
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3,male single,none,...,car,27,none,own,1.0,skilled,1,none,yes,good

In [5]:
data_train = data.copy()
data_live = data.sample(
    n=100, 
    replace=False, 
    random_state=0, 
    axis='index'
)

In [6]:
data_live_features = data_live.drop(columns=['label'])
data_live_features

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
id,,,,,,,,,,,,,,,,,,,,
271,no checking,12.0,critical/other existing credit,furniture/equipment,1402.0,500<=X<1000,4<=X<7,3,female div/dep/mar,none,4.0,car,37,none,rent,1.0,skilled,1,yes,yes
726,no checking,15.0,critical/other existing credit,radio/tv,1316.0,500<=X<1000,1<=X<4,2,male mar/wid,none,2.0,life insurance,47,none,own,2.0,unskilled resident,1,none,yes
31,<0,24.0,existing paid,furniture/equipment,4020.0,<100,1<=X<4,2,male single,none,2.0,car,27,stores,own,1.0,skilled,1,none,yes
343,0<=X<200,18.0,existing paid,business,4439.0,<100,>=7,1,male single,co applicant,1.0,real estate,33,bank,own,1.0,high qualif/self emp/mgmt,1,yes,yes
605,<0,24.0,all paid,furniture/equipment,2828.0,500<=X<1000,1<=X<4,4,male single,none,4.0,real estate,22,stores,own,1.0,skilled,1,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,no checking,6.0,critical/other existing credit,new car,250.0,>=1000,1<=X<4,2,female div/dep/mar,none,2.0,real estate,41,bank,own,2.0,unskilled resident,1,none,yes
747,<0,12.0,existing paid,new car,1274.0,<100,<1,3,female div/dep/mar,none,1.0,real estate,37,none,own,1.0,unskilled resident,1,none,yes
534,no checking,24.0,existing paid,radio/tv,3105.0,no known savings,<1,4,male single,none,2.0,car,25,none,own,2.0,skilled,1,none,yes
97,0<=X<200,18.0,existing paid,business,2622.0,100<=X<500,1<=X<4,4,male single,none,4.0,car,34,none,own,1.0,skilled,1,none,yes
268,<0,14.0,existing paid,new car,8978.0,<100,>=7,1,male div/sep,none,4.0,life insurance,45,none,own,1.0,high qualif/self emp/mgmt,1,yes,no

In [7]:
data_live_label  = data_live[['label']]
data_live_label

    label
id
271  good
726  good
31   good
343  good
605  good
..    ...
725  good
747   bad
534  good
97   good
268   bad

[100 rows x 1 columns]

In [8]:
export_train         = True
export_live_features = True
export_live_label    = False

if export_train         : data_train.to_csv('./data/credit.csv')
if export_live_features : data_live_features.to_csv('./data/credit.live.csv')
if export_live_label    : data_live_label.to_csv('./data/credit.live_label.csv')